<h1>Order history</h1>

<app-filter
  class="lg:block"
  (filterData)="filterData($event)"
  [ngClass]="{
    hidden: mobileHideMenu
  }"></app-filter>

<p-button
  label="Toggle filters"
  icon="pi pi-filter"
  class="block lg:hidden mt-3"
  (click)="mobileHideMenu = !mobileHideMenu" />

<div class="mt-4">
  @if ((products | filter: filterChallengeData).length > 0) {
    <p-table
      [value]="products | filter: filterChallengeData"
      [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th class="w-8rem">Status</th>
          <th class="w-10rem">Order Number</th>
          <th class="w-12rem">Product Line</th>
          <th>Product</th>
          <th class="min-width-10rem">Quantity</th>
          <th class="min-width-12rem">Date Requested</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <p-badge
              [value]="product.status"
              [severity]="statusBadges[product.status]" />
          </td>
          <td>{{ product.orderNumber }}</td>
          <td>{{ product.productLine }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.quantity.quantity }} {{ product.quantity.unit }}</td>
          <td>{{ product.dateRequested | date: 'dd.MM.yyyy' }}</td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <app-empty-data></app-empty-data>
  }
</div>
